@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgb(0, 0, 0);
}

.nav-link{
    color: white !important; 
}

.nav-link:hover{
    color: rgb(33, 37, 37)!important; 
}

.jumbotron{
    background-image: url(/imgft/tabby-5946499_1280.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 450px;
}

.jumbotron h1{
    text-shadow: 0 0 2px;
}

.container{
    background-color:rgba(255, 255, 255, 0.8);
    color: rgb(33, 37, 37);
}

.carousel-item{
    padding-left: 50px;
    padding-right: 50px;
    height: 800px;
    background-position: center;
}


.container-fluid{
    margin-top: 30px;
    margin-bottom: 30px;
}

.texto{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nosotros{
    padding-top: 30px;
    padding-bottom: 30px;
}

.nosotros .container-fluid{
    margin-top: 30px;
    margin-bottom: 30px;
}

.galeria{
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-fluid.galeria{
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-header :hover{
    color: rgba(255, 0, 0, 0.829);
}

.blog{
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacto{
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacto .container-fluid{
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn{
    background-color: rgba(87, 86, 86, 0.829);
    border-color:rgb(87, 83, 83);
}

.btn:hover{
    background-color: rgb(87, 83, 83);
    border-color: rgba(255, 0, 0, 0.829);
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px;
}

footer .redes a{
    padding: 20px;
    letter-spacing: 20px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 254, 254);
}

.subir{
    width: 40px;
    height: 40px;
    background-color: rgba(98, 161, 117, 0.829);
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.subir :hover{
    color:rgb(167, 33, 33);
}

.galeria.subir1{
    width: 40px;
    height: 40px;
    background-color: rgba(98, 161, 117, 0.829);
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.galeria.subir1 :hover{
    color:rgb(167, 33, 33);
}